/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.jpg) repeat-x left top;
	text-align: justify;
	font-family: "Trebuchet MS", homa, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, textarea, select {
	font: normal 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
}


h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
}

h1 {
	letter-spacing: -1px;
	font-size: 16pt;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

p, ul, ol {
}

p {
}

.blockbg {
	background: #D9D785;
}

blockquote {
	background: url(images/img08.jpg) no-repeat left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin: 0 0 0 15px;
	padding: 0px 20px 0px 30px;
	font-size: 18px;
	color: #3D3D3D;
}

ul {
}

ol {
}

a {
	color: #177078;
	border-bottom:0px;
}

a:hover {	
   color: 	#1F98A3;
   text-decoration: none;
   border-bottom:1px;
}

td.body1 {
  padding: 8px;
  font-size: 12pt; 
  background: #FFFFFF;  /*rgb(255 255 255); */
  border: 3px;
  border-collapse: collapse;
}

td.body2 {
  padding: 0px;
  font-size: 14pt; 
  background: #FFFFFF;  /*rgb(255 255 255); */
  border: 0px;
  border-collapse: collapse;
}

td.body3 {
  padding: 0px;
  font-size: 11pt;
  background: #FFFFFF;  /*rgb(255 255 255); */
  border: 0px;
  border-collapse: collapse;
}

td.body4 {
    padding: 0px;
    font-size: 14pt;
    border: 2px;
}

small {
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
	border: #D9D785 1px dashed;
}

img.right {
	float: right;
	margin: 0 0 0 15px;
	border: #D9D785 1px dashed;
}

.text1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin: 0 0 0 15px;
	padding: 90px 20px 0px 30px;
	font-size: 30px;
	color: #FFFFFF;
}

/* Header */

#header {
	width: 970px;
	height: 109px;
	margin: 0 auto;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* Logo */

#logo {
	float: left;
	margin-top: 55px;
}

#logo h1, #logo h2, #logo p {
	float: left;
	margin: 0;
	
}

#logo h1 {
	padding-left: 10px;
	text-align: center;
	font-size: 3.2em;
	color: #FFFFFF;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	padding-top: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
	color: #FFFFFF;
}

#logo h2 a, #logo p a {
	letter-spacing: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
}

/* Menu */

#menu {

	margin-top: 50px;
	float: left;
	width: 890px;
	padding: 0px 20px 0px 50px;
	line-height: 25px;
	font-size: 12px;
	letter-spacing: normal;
	font-size: 20px;

}

#menu body {
	letter-spacing: normal;
	border-bottom: #C7C7C7 1px dashed;
	font-size: 20px;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;

	
	padding: 10px 20px;
	text-align: center;
	
        text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #000000;

}

#menu table,th,td {
    border: 1px solid white;
    text-align: left

}


#menu a:hover {
}

#menu .current_page_item a {
}

/* New Menu */
#le_menu_2016
{
   width: 875px;
   border: none;
   background-color: white ;    /* Should normally be set to white */

}
#le_menu_2016 ul {
    list-style-type: none;
    padding-right: 0;
padding-left: 75px;
    overflow: hidden;
    background-color: white;
    width: 90%;
    margin: auto;
}

#le_menu_2016 li {
    float: left;
	margin: 0 0 0 18px;
}

#le_menu_2016 li a {
    display: inline-block;
    color: #031634;
    text-align: center;
    padding: 10px 26px;
    text-decoration: none;
    font-size: 14px;
}

#le_menu_2016  li a:hover {

       background-color:#A9A9A9;
       text-decoration: underline;


}


/* Page */

#page {
	width: 990px;
	margin: 0 auto;
	padding-top: 30px;
	background: #FFFFFF url(images/img02.jpg) no-repeat left top;
}

#latest-post {
	float: left;
	width: 875px;
	padding: 0px 20px 0px 60px;
	line-height: 25px;
	font-size: 12px;
}

#latest-post h1 {
	letter-spacing: normal;
	font-size: 30px;
	font-weight: bold;
}

#latest-post .entry {
	margin-top: 5px;
	padding-bottom: 5px;
	border: none;
}

#latest-post .meta {
	margin-top: 5px;
	padding: 0;
	line-height: normal;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #B4B4B4;
}

#latest-post .meta a {
	color: #B4B4B4;
}




.post {
}

.post .title {
	margin: 0;
}

.post .meta {
	margin-top: -5px;
	padding: 0;
	line-height: normal;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #B4B4B4;
}

.post .meta a {
	color: #000000;
}

.post .entry {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: #C7C7C7 1px dashed;
	font-size: 12px;

}

/* Sidebar */

#sidebar {
	clear: both;
	width: 970px;
	margin: 0 auto;
	background: #FFFFFF;
	color: #CCCCCC;
	padding: 1px 0 0 0;
	margin-bottom: 15px;
	border-top: 1px #E8E8E8 solid;
	border-bottom: 1px #E8E8E8 solid;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	display: block;
	float: left;
	width: 206px;
	padding: 10px 5px 10px 25px;
}

#sidebar li ul {
	line-height: 1.8em;
}

#sidebar li li {
	display: list-item;
	float: none;
	width: auto;
	padding: 5px 0;
	line-height: 25px;
	border-bottom: #C7C7C7 1px dashed;
	font-size: 12px;
	font-style: italic;
}

#sidebar h2 {
	letter-spacing: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	color: #565656;
	border-bottom: #E8E8E8 1px solid;
}

#sidebar a {
	text-decoration: none;
	color: #666666;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Footer */

#footer-bg {
	background: #0D859C;
}

#footer {
	width: 970px;
	height: 60px;
	margin: 0 auto;
	font-size: 11px;
	color: #FFFFFF;
}

#footer p {
	margin: 0;
	padding: 25px 20px 15px 20px;
}

#footer a {
	color: #FFFFFF;
}

#legal {
	float: left;
}

#links {
	float: right;
}
